#dragEle{
    color : white;
    cursor: move;
    overflow: hidden;
    background-color: black;
    position: absolute;
    bottom : 0px;
}
#cont1{
    display: flex;
    justify-content: end;
    background-color: rgb(68, 64, 64);
}
#closeBtn{
    background-color:  rgb(68, 64, 64);
    border:  rgb(68, 64, 64);
    color: white;
    font-size: 20px;
    margin: 12px;
}